<div class="wrap-login-form">
  <h2 class="title">新規登録</h2>

  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
    <%= f.label :"名前" %><br />
    <%= f.text_field :name, autofocus: true, class: "textbox" %>
    </div>

    <div class="field">
      <%= f.label :"メールアドレス(例11@11.com)" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "textbox" %>
    </div>

    <div class="field">
      <%= f.label :"パスワード(6文字以上)" %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "textbox" %>
    </div>

    <div class="field">
      <%= f.label :"パスワード(確認用)" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "textbox" %>
    </div>


    <div class="actions">
      <%= f.submit "登録", class: "small-btn" %>
    </div>
  <% end %>
    <p class="border-line"></p>
    <p class="login-link"><a href="/users/sign_in">既にアカウントをお持ちの方はこちら</a></p>
</div>
