<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="instructor-photos-wrap">
        <%= attachment_image_tag @instructor.user, :profile_image, fallback: "no_image.jpg", class: "instructor-photos-wrap-img" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="instructor-msg-info-wrap">
      <div class="instructor-text-box self-introduction-wrap">
        <h3 class="instructor-text-title self-introduction-title">自己紹介</h3>
          <%= @instructor.self_introduction %>
      </div>
      <div class="instructor-text-box msg-to-customers-wrap">
        <h3 class="instructor-text-title msg-to-customers-title">講師からのメッセージ</h3>
        <pre class="msg-to-customers-text"><%= @instructor.message %></pre>
      </div>
        <%= render 'reviews/review', review: @review, instructor: @instructor %>
      </div>
    </div>
    <div class="col-sm-4">
      
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="fix-menu fix-menu-bar">
        <div  class="favorite_btn">
          <%= render 'favorites/favorite-btn', favorite: @favorite, instructor: @instructor %>
        </div>
        <p class="talk_btn">
          <%= link_to 'トークしてみる！',room_path(instructor_id: @instructor.id), class: "icon far fa-comments"%>
        </p>
      </div>
    </div>
  </div>
</div>



