<div class="subtitle-wrap bulletin-board-title-wrap">
  <div class="subtitle clearfix">
    <h2 class="bulletin-board-title">
      <i class="icon far fa-window-restore"></i>依頼掲示板
    </h2>
      <a class="post-btn" href="/request_boards/new"><i class="icon far fa-comment-alt"></i>投稿してみる</a>
  </div>
</div>

<div class="contents">
    <script type="text/javascript">
    </script>
<div class="bulletin-board-wrap">
  <% request_boards.each do |request_board| %>
    <div class="bulletin-board">
      <div class="info-wrap clearfix">
        <div class="info">
          <p><i class="icon far fa-comment-alt"></i>0</p>
          <p><i class="icon far fa-comment-alt"></i>0</p>
        </div>
      </div>
        <%= request_board.name class: "title" %>
        <p class="content">ガチで助けてくれる人居ませんか？</p>

        <div class="user">
          <p class="avatar" style="background-image: url(/assets/avatar_default-2341dd6cfd79c270be95e3c853249f39db36e89de2f8d496b640372c70e1c3a0.png) "></p>
          <p class="name">パンダ</p>
        </div>
        <a class="to-ansawor" href="/bulletin_boards/841"><span>回答へ</span></a>
    </div>
  <% end %>
 </div>

<% users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
        <td><%= request_board.name, class="title" %></td>
        <td><%= "フォロー数:#{user.followings.count}" %></td>
        <td><%= "フォロワー数:#{user.followers.count}" %></td>
        <td>
          <%= render 'users/follow_button', user: user %>
        </td>
        <td><%= link_to 'Show', user_path(user), class: "user_#{user.id}" %></td>
      </tr>
<p class="pagination">  </p><nav class="pagination">

        <span class="page current">
  1
</span>

        <span class="page">
  <a rel="next" href="/bulletin_boards?page=2">2</a>
</span>

        <span class="page">
  <a href="/bulletin_boards?page=3">3</a>
</span>

        <span class="page gap">...</span>

    <span class="last">
  <a href="/bulletin_boards?page=29">»</a>
</span>

  </nav>
<p></p>
<div class="fix-menu-bar-sp menu-bar">
  <ul class="menu-bar-list">
    <li><a href="/home/guide"><i class="fas fa-book-open"></i><br>使い方</a></li>
    <li><a href="/frends"><i class="fas fa-search"></i><br>探す</a></li>
    <li><a href="/talkrooms"><i class="far fa-comments"></i><br>トーク</a></li>
    <li><a href="/favorites"><i class="far fa-heart"></i><br>お気に入り</a></li>
    <li><a href="/bulletin_boards"><i class="far fa-window-restore"></i><br>掲示板</a></li>
  </ul>
</div>


  </div>