<div class="subtitle-wrap bulletin-board-title-wrap">
  <div class="subtitle clearfix">
    <h2 class="bulletin-board-title">
      <i class="icon far fa-window-restore"></i>依頼掲示板
    </h2>
    <% if user_signed_in?%>
      <a class="post-btn" href="/request_boards/new"><i class="icon far fa-comment-alt"></i>投稿してみる</a>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <% @request_boards.each do |request_board| %>
      <%= link_to request_board_path(request_board) do %>
        <div class="card">
          <h5 class="card-header"><%= request_board.title %></h5>
          <div class="card-body">
            <p class="card-text"><%= request_board.body %></p>
            <div class="user">
              <p class="avatar">
                <%= attachment_image_tag request_board.user, :profile_image, fallback: "no_image.jpg", class: "avatar"%>
              </p>
              <p class="name"><%= request_board.user.name %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
