<div class="subtitle-wrap bulletin-board-title-wrap">
  <div class="subtitle clearfix">
    <h2 class="bulletin-board-title">
      <i class="icon far fa-window-restore"></i>依頼掲示板
    </h2>
    <% if user_signed_in?%>
      <a class="post-btn" href="/request_boards/new"><i class="icon far fa-comment-alt"></i>投稿してみる</a>
    <% end %>
  </div>
</div>

<div class="contents">
<div class="bulletin-board-wrap">
  <% @request_boards.each do |request_board| %>
    <%= link_to request_board_path(request_board) do %>
      <div class="bulletin-board">
        <div class="info-wrap clearfix">
          <div class="info">
            <p><i class="icon far fa-comment-alt"></i><%= request_board.board_comments.count %></p>
          </div>
        </div>
        <div class="title">
          <%= request_board.title %>
        </div>
        <div class="content">
          <%= request_board.body %>
        </div>
        <span class="sentiment-score">本文の感情分析スコア<%= request_board.score %></span>
          <div class="user">
            <div class="avatar">
              <%= attachment_image_tag request_board.user, :profile_image, fallback: "no_image.jpg" %>
            </div>
            <div class="name">
              <%= request_board.user.name %>
            </div>
          </div>
      </div>
    <% end %>
  <% end %>
 </div>

<p class="pagination"></p>
<nav class="pagination">
<%= paginate @request_boards %>
</nav>

<p></p>
<div class="fix-menu-bar-sp menu-bar">
  <ul class="menu-bar-list">
    <li><a href="/home/guide"><i class="fas fa-book-open"></i><br>使い方</a></li>
    <li><a href="/frends"><i class="fas fa-search"></i><br>探す</a></li>
    <li><a href="/talkrooms"><i class="far fa-comments"></i><br>トーク</a></li>
    <li><a href="/favorites"><i class="far fa-heart"></i><br>お気に入り</a></li>
    <li><a href="/bulletin_boards"><i class="far fa-window-restore"></i><br>掲示板</a></li>
  </ul>
</div>

</div>