<div class="contents">

<div class="order-post">
  <ul class="description">
    <li>依頼掲示板では、自分のしてほしい依頼を掲示板に投稿し、女性講師から提案を受けることが出来ます。</li>
    <li><span class="marker_yellow">依頼を頼みたい日付が今日・明日など、すぐに提案が欲しい場合は「今すぐ」を「はい」に設定してください。</span></li>
  </ul>

  <%= form_with model:@request_board,local:true do |f| %>
    <div class="textbox-wrap">
      <!--<input class="textbox" placeholder="依頼のタイトル" data-tippy="100字以内で入力してください。" type="text" name="bulletin_board[title]">-->
      <%= f.label :"依頼のタイトル" %><br>
      <%= f.text_field :title, class: "textbox" %>
      <p class="error-msg"></p>
    </div>

    <div class="textarea-wrap">
      <!--<textarea class="textarea" placeholder="依頼内容" name="bulletin_board[contents]"></textarea>-->
      <%= f.label :"依頼内容" %>
      <%= f.text_area :body, class: "textarea" %>
      <p class="error-msg"></p>
    </div>
    <%= f.submit  "投稿する", class: "post-btn" %>
  <% end %>
</div>


