<div class="subtitle-wrap">
  <h2 class="subtitle"><a href="/request_boards">＜ <i class="icon far fa-window-restore"></i>一覧へ戻る</a><span class="ml5 f-size-8"><span></span></span></h2>
</div>
<div class="contents">

<div class="bulletin_board-wrap bulletin_board-order-wrap">
  <div class="bulletin-board bulletin_board-order">
    <div class="info-wrap clearfix">

    </div>
    <div class="title">
      <%= @request_board.title %>
    </div>
    <div class="content">
      <%= @request_board.body %>
    </div>

    <div class="user">
      <div class="avatar">
        <%= attachment_image_tag @request_board.user, :profile_image, fallback: "no_image.jpg" %>
      </div>
      <div class="name">
        <%= @request_board.user.name %>
      </div>
      <p class="datetime">投稿日時：<%= @request_board.created_at.strftime('%Y/%m/%d') %></p>
    </div>
  </div>


  <h2 class="subtitle"><i class="icon far fa-comment"></i>講師からのコメント<%= @request_board.board_comments.count %>件</h2>
  <div class="board_comments">
    <%= render 'board_comments/board_comment', board_comments: @board_comment %>
  </div>

    
  <div class="bulletin_board-order-wrap">
    <div class="answer-post">
      <%= form_with model:[:instructor, @request_board, BoardComment.new] do |f| %>
        <div class="textarea">
          <%= f.text_field :comment %>
          <p class="error-msg"></p>
        </div>
        <%= f.submit  "投稿する", class: "post-btn" %>
      <% end %>
    </div>
  </div>
</div>
