<div class="reservation-screen" style="left: 50%; top: 50%; margin-left: -310px; margin-top: -197.5px; display: block;">
    <h3 class="reservation-title"><i class="icon fas fa-shopping-cart"></i><span id="reservation-title-text">確認画面</span></h3>
    <div id="input-screen">
        <table class="reservation-table">
            <tbody>
            <!--<tr class="instructor-name">-->
            <!--    <td>-->
            <!--      <span class="avatar"><%#= attachment_image_tag instructor.user, :profile_image, fallback: "no_image.jpg" %></span>-->
            <!--      <span><%#= @instructor.name %></span>-->
            <!--    </td>-->
            <!--</tr>-->
            <tr>
                <td>予約日</td>
                <td id="confirm-date"><%= @reservation.date.strftime("%Y-%m-%d") %></td>
            </tr>

            <tr>
                <td>開始時間</td>
                <td><span id="confirm-use-time"></span><%= @reservation.begin_time.strftime("%H:%M") %></td>
            </tr>
            <tr>
                <td>終了時間</td>
                <td><span id="confirm-use-time"></span><%= @reservation.finish_time.strftime("%H:%M") %></td>
            </tr>

            <tr>
                <td>合計時間</td>
                <td><span id="confirm-total-price"></span>時間</td>
            </tr>
            </tbody>
        </table>
        <%= form_with model: @reservation, url: reservations_path, method: :post, local: true do |f| %>
            <%= f.hidden_field :date %>
            <%= f.hidden_field :begin_time %>
            <%= f.hidden_field :finish_time %>
            <%= f.hidden_field :instructor_id, value: @instructor.id %>
            <p class="send-reservation-btn2">
                <%= f.submit  "予約確定する", class: "send-reservation-btn" %>
            </p>
        <% end %>
    </div>
</div>
