
<section class="top-image-wrap">
    <div class="top-image">
        <p><span class="main-msg top">女性の「ホンネ」</span><span class="main-msg bottom">聞いてみませんか。</span></p>
        <picture>
          <%= image_tag asset_path("image1.jpg") %>
        </picture>
    </div>
</section>

<section class="about-mote">
    <p class="about-mote-text"><%= image_tag asset_path("icon3.png") %>は<br>恋愛トーク向上サイトです。</p>
    <p class="about-mote-img"><%= image_tag asset_path("sodan.png") %></p>
</section>

<div class="contents">

  <section class="mote-feature-wrap">
    <h2 class="title"><%= image_tag asset_path("icon3.png") %></h2>
    <p class="border-line"></p>
    <div id="feature-box-wrap" class="box-wrap">
      <div class="box-inner-wrap">
        <div class="box one">
          <div class="sub-title-wrap">
            <div class="sub-title-inner-wrap">
              <span class="step-label"></span>
              <h2 class="sub-title">自分の恋愛トーク能力がわかる！</h2>
            </div>
          </div>
          <p class="feature-img"><%= image_tag asset_path("school.png") %></p>
          <p class="comment">経験豊富な女性講師からフィードバックを貰うことにより、
            自分自身で気づかなかった恋愛トークの改善点に気づくことができます。
          </p>
        </div>
        <div class="box two">
          <div class="sub-title-wrap">
            <div class="sub-title-inner-wrap">
              <span class="step-label"></span>
              <h2 class="sub-title">女性講師とのミスマッチを防ぐ</h2>
            </div>
          </div>
          <p class="feature-img"><%= image_tag asset_path("sodan.png") %></p>
          <p class="comment">女性講師それぞれに自己紹介や受講生へのメッセージを掲載しております。そこを確認してから女性講師に依頼することが出来るのでミスマッチを防ぐことができます。</p>
        </div>
        <div class="box three">
          <div class="sub-title-wrap">
            <div class="sub-title-inner-wrap">
              <span class="step-label"></span>
              <h2 class="sub-title">依頼掲示板から恋愛の悩みを投稿できる</h2>
            </div>
          </div>
          <p class="feature-img"><%= image_tag asset_path("e-learning.png") %></p>
          <p class="comment">依頼掲示板から恋愛におけるお悩みを相談することによって、そのお悩みに対しご対応できる女性講師がコメントします。</p>
        </div>
      <!--<div id="swiper-button-prev" class="swiper-button left"><i class="fas fa-chevron-left"></i></div>-->
      <!--<div id="swiper-button-next" class="swiper-button right"><i class="fas fa-chevron-right"></i></div>-->
    </div>
  </section>
</div>

<section id="services" class="Index-page" data-collection-id="5a980b5c53450aaaab2368a6" data-parallax-id="5a980b5c53450aaaab2368a6" data-edit-main-image="Background">
        
        <div class="Index-page-content " id="yui_3_17_2_1_1633816555705_105">
          <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1631266888187" id="page-5a980b5c53450aaaab2368a6"><div class="row sqs-row" id="yui_3_17_2_1_1633816555705_104"><div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1633816555705_103"><div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5" id="block-yui_3_17_2_1_1521425208951_30848"><div class="sqs-block-content" id="yui_3_17_2_1_1633816555705_102">













  

    
  
    <div class="
          image-block-outer-wrapper
          layout-caption-below
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
        " data-test="image-block-inline-outer-wrapper" id="yui_3_17_2_1_1633816555705_101">

      

      
        <figure class="
              sqs-block-image-figure
              intrinsic
            " style="max-width:125px; 
  overflow: hidden;
  
    
    
    
    
  
" id="yui_3_17_2_1_1633816555705_100">
          
        
        

        
          
            
          <div class="image-block-wrapper" data-animation-role="image" id="yui_3_17_2_1_1633816555705_99">
            <div class="sqs-image-shape-container-element
              
          
        
              has-aspect-ratio
            " style="
                position: relative;
                
                  padding-bottom:20.80000114440918%;
                
                
  overflow: hidden;
  
    
    
    
    
  

              " id="yui_3_17_2_1_1633816555705_98">
              <noscript><img src="https://images.squarespace-cdn.com/content/v1/5a9805254cde7a2debc2d884/1521426099779-K9RQPZW5ZHBD6CKICS9J/Service.jpg" alt="Service.jpg" /></noscript><img class="thumb-image loaded" data-src="https://images.squarespace-cdn.com/content/v1/5a9805254cde7a2debc2d884/1521426099779-K9RQPZW5ZHBD6CKICS9J/Service.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5a9805254cde7a2debc2d884/1521426099779-K9RQPZW5ZHBD6CKICS9J/Service.jpg" data-image-dimensions="125x26" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5aaf1eb3aa4a99e021a99742" data-type="image" alt="Service.jpg" data-image-resolution="300w" src="https://images.squarespace-cdn.com/content/v1/5a9805254cde7a2debc2d884/1521426099779-K9RQPZW5ZHBD6CKICS9J/Service.jpg?format=300w" style="left: 0%; top: 0%; width: 100%; height: 100%; position: absolute;">
            </div>
          </div>
        
          
        

        
      
        </figure>
      

    </div>
  


  


</div></div><div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5" id="block-yui_3_17_2_1_1519913821725_5170"><div class="sqs-block-content" id="yui_3_17_2_1_1633816555705_123">













  

    

      <figure class="sqs-block-image-figure image-block-outer-wrapper image-block-v2 design-layout-card combination-animation-none individual-animation-none individual-text-animation-none image-position-left image-linked sqs-text-ready" data-scrolled="" data-test="image-block-v2-outer-wrapper" id="yui_3_17_2_1_1633816555705_122">

        <div class="intrinsic" id="yui_3_17_2_1_1633816555705_121">
          
            <div class="
                
                image-inset" data-animation-role="image" data-description="" id="yui_3_17_2_1_1633816555705_120">
            <div class="sqs-image-shape-container-element
              
                content-fit
              
            " style="
              position: relative;
              
  overflow: hidden;
  
    
    
    
    
  

              
            " id="yui_3_17_2_1_1633816555705_119">
              <noscript><img src="https://images.squarespace-cdn.com/content/v1/5a9805254cde7a2debc2d884/1631266839596-B9TOFLFBOJXKSTVNJ1SM/famm.us_top05.png" alt="家族アプリFamm - 世界中の家族の絆を深める。子供の写真動画を家族内で共有し、それを使ってカレンダー・アルバム、・DVDなど様々な特別な思い出の商品を作り家族に届けられるアプリです。一生の宝になるモノを通じて家族の絆を深める事ができます。" loading="lazy"/></noscript>
              <img data-src="https://images.squarespace-cdn.com/content/v1/5a9805254cde7a2debc2d884/1631266839596-B9TOFLFBOJXKSTVNJ1SM/famm.us_top05.png" data-image="https://images.squarespace-cdn.com/content/v1/5a9805254cde7a2debc2d884/1631266839596-B9TOFLFBOJXKSTVNJ1SM/famm.us_top05.png" data-image-dimensions="1029x723" data-image-focal-point="0.5,0.5" loading="lazy" data-parent-ratio="1.4" alt="famm.us_top05.png" class="loaded" data-image-resolution="1000w" src="https://images.squarespace-cdn.com/content/v1/5a9805254cde7a2debc2d884/1631266839596-B9TOFLFBOJXKSTVNJ1SM/famm.us_top05.png?format=1000w" style="left: 0px; top: 0.153061px; width: 455px; height: 319.694px; position: absolute;">
              <div class="image-overlay" style="
  overflow: hidden;
  
    
    
    
    
  
"></div>
            </div>
          
            </div>
          

        </div>

        
          
          <figcaption class="image-card-wrapper" data-width-ratio="">
            <div class="image-card sqs-dynamic-text-container">

              
                <div class="image-title-wrapper"><div class="image-title sqs-dynamic-text" data-width-percentage="33.7" style="font-size: 33.7%;"><p class="" style="white-space:pre-wrap;"><strong>家族アプリFamm</strong></p></div></div>
              

              
                <div class="image-subtitle-wrapper"><div class="image-subtitle sqs-dynamic-text" data-width-percentage="33.7" style="font-size: 33.7%;"><p class="" style="white-space:pre-wrap;">世界中の家族の絆を深める。子供の写真動画を家族内で共有し、それを使ってカレンダー・アルバム、・DVDなど様々な特別な思い出の商品を作り家族に届けられるアプリです。一生の宝になるモノを通じて家族の絆を深める事ができます。</p></div></div>
              

              
                <div class="image-button-wrapper"><div class="image-button sqs-dynamic-text" data-width-percentage="33.7" style="font-size: 33.7%;"><div class="image-button-inner">
                  <a href="http://famm.us" target="_blank" rel="noopener">もっとみる</a>
                </div></div></div>
              

            </div>
          </figcaption>
        

      </figure>

    

  


</div></div><div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5" id="block-yui_3_17_2_1_1554095658821_15903"><div class="sqs-block-content" id="yui_3_17_2_1_1633816555705_141">













  

    

      <figure class="sqs-block-image-figure image-block-outer-wrapper image-block-v2 design-layout-card combination-animation-none individual-animation-none individual-text-animation-none image-position-right image-linked sqs-text-ready" data-scrolled="" data-test="image-block-v2-outer-wrapper" id="yui_3_17_2_1_1633816555705_140">

        <div class="intrinsic" id="yui_3_17_2_1_1633816555705_139">
          
            <div class="
                
                image-inset" data-animation-role="image" data-description="" id="yui_3_17_2_1_1633816555705_138">
            <div class="sqs-image-shape-container-element
              
                content-fit
              
            " style="
              position: relative;
              
  overflow: hidden;
  
    
    
    
    
  

              
            " id="yui_3_17_2_1_1633816555705_137">
              <noscript><img src="https://images.squarespace-cdn.com/content/v1/5a9805254cde7a2debc2d884/1554096361231-GV51ZMQH5FAWQ22JK69W/Group+2.jpg" alt="Famm無料撮影会 - 5万円もかかる写真館や写真スタジオは頻繁にいけない、でも子供の成長をより素敵に残したい。そんな声から生まれた無料のプロカメラマン撮影会を全国で開催中。お金の専門家による家計カウンセリングや子育て費用相談も兼ねることで、子育て家族の笑顔と未来を育む体験を提供します。" loading="lazy"/></noscript>
              <img data-src="https://images.squarespace-cdn.com/content/v1/5a9805254cde7a2debc2d884/1554096361231-GV51ZMQH5FAWQ22JK69W/Group+2.jpg" data-image="https://images.squarespace-cdn.com/content/v1/5a9805254cde7a2debc2d884/1554096361231-GV51ZMQH5FAWQ22JK69W/Group+2.jpg" data-image-dimensions="860x648" data-image-focal-point="0.5,0.5" loading="lazy" data-parent-ratio="1.3" alt="Group 2.jpg" class="loaded" data-image-resolution="1000w" src="https://images.squarespace-cdn.com/content/v1/5a9805254cde7a2debc2d884/1554096361231-GV51ZMQH5FAWQ22JK69W/Group+2.jpg?format=1000w" style="left: 0px; top: 0.0813953px; width: 455px; height: 342.837px; position: absolute;">
              <div class="image-overlay" style="
  overflow: hidden;
  
    
    
    
    
  
"></div>
            </div>
          
            </div>
          

        </div>

        
          
          <figcaption class="image-card-wrapper" data-width-ratio="">
            <div class="image-card sqs-dynamic-text-container">

              
                <div class="image-title-wrapper"><div class="image-title sqs-dynamic-text" data-width-percentage="33.7" style="font-size: 33.7%;"><p class="" style="white-space:pre-wrap;">Famm無料撮影会</p></div></div>
              

              
                <div class="image-subtitle-wrapper"><div class="image-subtitle sqs-dynamic-text" data-width-percentage="33.7" style="font-size: 33.7%;"><p class="" style="white-space:pre-wrap;">5万円もかかる写真館や写真スタジオは頻繁にいけない、でも子供の成長をより素敵に残したい。そんな声から生まれた無料のプロカメラマン撮影会を全国で開催中。お金の専門家による家計カウンセリングや子育て費用相談も兼ねることで、子育て家族の笑顔と未来を育む体験を提供します。</p></div></div>
              

              
                <div class="image-button-wrapper"><div class="image-button sqs-dynamic-text" data-width-percentage="33.7" style="font-size: 33.7%;"><div class="image-button-inner">
                  <a href="https://famm.us/ja/studio" target="_blank" rel="noopener">もっとみる</a>
                </div></div></div>
              

            </div>
          </figcaption>
        

      </figure>

    

  


</div></div><div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5" id="block-yui_3_17_2_1_1570184968139_10561"><div class="sqs-block-content" id="yui_3_17_2_1_1633816555705_159">













  

    

      <figure class="sqs-block-image-figure image-block-outer-wrapper image-block-v2 design-layout-card combination-animation-none individual-animation-none individual-text-animation-none image-position-left image-linked sqs-text-ready" data-scrolled="" data-test="image-block-v2-outer-wrapper" id="yui_3_17_2_1_1633816555705_158">

        <div class="intrinsic" id="yui_3_17_2_1_1633816555705_157">
          
            <div class="
                
                image-inset" data-animation-role="image" data-description="" id="yui_3_17_2_1_1633816555705_156">
            <div class="sqs-image-shape-container-element
              
                content-fit
              
            " style="
              position: relative;
              
  overflow: hidden;
  
    
    
    
    
  

              
            " id="yui_3_17_2_1_1633816555705_155">
              <noscript><img src="https://images.squarespace-cdn.com/content/v1/5a9805254cde7a2debc2d884/1570185134029-5UEFLY0432WDFUT6KBNR/snap_cr.png" alt="Famm出張撮影 - 写真館よりも自然でお洒落な写真をプロカメラマンに撮影して欲しい、そんなご要望にお応えし、ご希望の日時・場所にFammが厳選するプロカメラマンがお伺いして75カット以上を撮影する出張撮影を提供中。ニューボーンフォト、ハーフバースデー、お食い初め、七五三など様々な機会にご利用いただいています。" loading="lazy"/></noscript>
              <img data-src="https://images.squarespace-cdn.com/content/v1/5a9805254cde7a2debc2d884/1570185134029-5UEFLY0432WDFUT6KBNR/snap_cr.png" data-image="https://images.squarespace-cdn.com/content/v1/5a9805254cde7a2debc2d884/1570185134029-5UEFLY0432WDFUT6KBNR/snap_cr.png" data-image-dimensions="1136x1136" data-image-focal-point="0.5,0.5" loading="lazy" data-parent-ratio="1.0" alt="snap_cr.png" class="loaded" data-image-resolution="1000w" src="https://images.squarespace-cdn.com/content/v1/5a9805254cde7a2debc2d884/1570185134029-5UEFLY0432WDFUT6KBNR/snap_cr.png?format=1000w" style="left: 0px; top: 0px; width: 455px; height: 455px; position: absolute;">
              <div class="image-overlay" style="
  overflow: hidden;
  
    
    
    
    
  
"></div>
            </div>
          
            </div>
          

        </div>

        
          
          <figcaption class="image-card-wrapper" data-width-ratio="">
            <div class="image-card sqs-dynamic-text-container">

              
                <div class="image-title-wrapper"><div class="image-title sqs-dynamic-text" data-width-percentage="33.7" style="font-size: 33.7%;"><p class="" style="white-space:pre-wrap;">Famm出張撮影</p></div></div>
              

              
                <div class="image-subtitle-wrapper"><div class="image-subtitle sqs-dynamic-text" data-width-percentage="33.7" style="font-size: 33.7%;"><p class="" style="white-space:pre-wrap;">写真館よりも自然でお洒落な写真をプロカメラマンに撮影して欲しい、そんなご要望にお応えし、ご希望の日時・場所にFammが厳選するプロカメラマンがお伺いして75カット以上を撮影する出張撮影を提供中。ニューボーンフォト、ハーフバースデー、お食い初め、七五三など様々な機会にご利用いただいています。</p></div></div>
              

              
                <div class="image-button-wrapper"><div class="image-button sqs-dynamic-text" data-width-percentage="33.7" style="font-size: 33.7%;"><div class="image-button-inner">
                  <a href="https://snap.famm.us/">もっとみる</a>
                </div></div></div>
              

            </div>
          </figcaption>
        

      </figure>

    

  


</div></div><div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5" id="block-yui_3_17_2_1_1568214066531_18514"><div class="sqs-block-content" id="yui_3_17_2_1_1633816555705_177">













  

    

      <figure class="sqs-block-image-figure image-block-outer-wrapper image-block-v2 design-layout-card combination-animation-none individual-animation-none individual-text-animation-none image-position-right image-linked sqs-text-ready" data-scrolled="" data-test="image-block-v2-outer-wrapper" id="yui_3_17_2_1_1633816555705_176">

        <div class="intrinsic" id="yui_3_17_2_1_1633816555705_175">
          
            <div class="
                
                image-inset" data-animation-role="image" data-description="" id="yui_3_17_2_1_1633816555705_174">
            <div class="sqs-image-shape-container-element
              
                content-fit
              
            " style="
              position: relative;
              
  overflow: hidden;
  
    
    
    
    
  

              
            " id="yui_3_17_2_1_1633816555705_173">
              <noscript><img src="https://images.squarespace-cdn.com/content/v1/5a9805254cde7a2debc2d884/1568214357702-8D1BXOXDG3U7MW7IUD5A/school.png" alt="ママ専用スクール - 育児をしながらでもキャリアップや在宅でお仕事をはじめたい、そんな声から生まれたママ専用スクールを5エリアで開校中。子供を講義室横のキッズスペースでシッターに預け、Webデザインやグラフィックデザイン、フォトグラファースキルなどを1ヵ月の短期集中で身につけて、キャリアアアップ・キャリアチェンジを目指せる機会を提供しています。" loading="lazy"/></noscript>
              <img data-src="https://images.squarespace-cdn.com/content/v1/5a9805254cde7a2debc2d884/1568214357702-8D1BXOXDG3U7MW7IUD5A/school.png" data-image="https://images.squarespace-cdn.com/content/v1/5a9805254cde7a2debc2d884/1568214357702-8D1BXOXDG3U7MW7IUD5A/school.png" data-image-dimensions="1244x1028" data-image-focal-point="0.5,0.5" loading="lazy" data-parent-ratio="1.2" alt="school.png" class="loaded" data-image-resolution="1000w" src="https://images.squarespace-cdn.com/content/v1/5a9805254cde7a2debc2d884/1568214357702-8D1BXOXDG3U7MW7IUD5A/school.png?format=1000w" style="left: 0px; top: 0.00160772px; width: 455px; height: 375.997px; position: absolute;">
              <div class="image-overlay" style="
  overflow: hidden;
  
    
    
    
    
  
"></div>
            </div>
          
            </div>
          

        </div>

        
          
          <figcaption class="image-card-wrapper" data-width-ratio="">
            <div class="image-card sqs-dynamic-text-container">

              
                <div class="image-title-wrapper"><div class="image-title sqs-dynamic-text" data-width-percentage="33.7" style="font-size: 33.7%;"><p class="" style="white-space:pre-wrap;">ママ専用スクール</p></div></div>
              

              
                <div class="image-subtitle-wrapper"><div class="image-subtitle sqs-dynamic-text" data-width-percentage="33.7" style="font-size: 33.7%;"><p class="" style="white-space:pre-wrap;">育児をしながらでもキャリアップや在宅でお仕事をはじめたい、そんな声から生まれたママ専用スクールを5エリアで開校中。子供を講義室横のキッズスペースでシッターに預け、Webデザインやグラフィックデザイン、フォトグラファースキルなどを1ヵ月の短期集中で身につけて、キャリアアアップ・キャリアチェンジを目指せる機会を提供しています。</p></div></div>
              

              
                <div class="image-button-wrapper"><div class="image-button sqs-dynamic-text" data-width-percentage="33.7" style="font-size: 33.7%;"><div class="image-button-inner">
                  <a href="https://famm.us/ja/school">もっとみる</a>
                </div></div></div>
              

            </div>
          </figcaption>
        

      </figure>

    

  


</div></div></div></div></div>
        </div>
        
          
        
      </section>