<div class="wrap-login-form">
  <h2 class="title">ログイン</h2>

  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :"メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "textbox" %>
    </div>

    <div class="field">
      <%= f.label :"パスワード" %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "textbox" %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン", class: "small-btn" %>
    </div>
  <% end %>
    <p class="border-line"></p>
    <p class="login-link"><a href="/users/sign_up">アカウントをお持ちでない方はこちら</a></p>
</div>
