<!--<article class="subtitle-wrap search-area-wrap">-->
<!--  <h2 class="subtitle">-->
<!--    <i class="icon fas fa-search"></i>講師を探す</h2>-->
<!--</article>-->

<div class="container">
  <div class="row justify-content: center">
    <% @instructors.each do |instructor| %>
      <%= link_to instructor_path(instructor) do %>
        <div class="col-md-4 box-shadow">
          <div class="instructor-box">
            <%= attachment_image_tag instructor.user, :profile_image, fallback: "no_image.jpg", class: "instructor-avatar" %>
            <div class="user-name">
              <%= instructor.user.name %>
              <span class="favorite-cnt">
                <span class="instructorbox_favorite_btn inlink">
                  <i class="not-favorite-icon fas fa-heart">
                    <%= instructor.favorites.count %>
                  </i>
                </span>
              </span>
            </div>
            <div class="instructor-info">
              <p class="far fa-user"><%= instructor.age %>歳</p>
            </div>
            <!--<div class="content average-score">-->
            <!--  <div class="star-rating mb-2">-->
            <!--    <div class="star-rating-front" style="width: <%#= instructor.review_score_percentage %>%">★★★★★</div>-->
            <!--    <div class="star-rating-back">★★★★★</div>-->
            <!--  </div>-->
            <!--  <div class="average-score-display ml-3 pt-2">-->
            <!--    <%#= instructor.avg_score %>点（<%#= instructor.reviews.count %>件のレビュー）-->
            <!--  </div>-->
            <!--</div>-->
            <p class="instructor-msg"><%= instructor.message %></p>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
