<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>User info</h2>
    <%= form_with model:@user, local:true do |f| %>
      <div class="form-group">
        <label for="inputName">Name</label><br>
        <%= f.text_field :name, class: "form-control name" %>
      </div>
     <div class="form-group">
        <label for="inputImage"></label><br>
        <%= f.attachment_field :profile_image, class: "form-control-file user_image" %>
      </div>
      <div class="form-group">
        <%= f.submit class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>

<div class="setting-main user-conf-edit-box">
  <%= form_with model:@user, local:true do |f| %>
    <div class="avater-box-wrap">
      <div class="avater-box">
        <div class="avatar-box-inner">
          <i class="upload-default-img fas fa-arrow-circle-up"></i>
            <img id="crop-avatar" class="avatar" src="https://frenta.s3-ap-northeast-1.amazonaws.com/uploads/user/avatar/3780/line_67754718850298.jpg?2021-02-23 14:28:51 +0900" alt="Line 67754718850298">
          <input type="file" name="user[avatar]">
          <input type="hidden" value="" name="user[avatar_path]">
        </div>
      </div>
      <p class="text">アイコン <br>(5MB以内)</p>
    </div>
    <div class="textbox-wrap">
      <
      <p class="error-msg"></p>
    </div>
  <div id=""></div>
    <%= f.submit "更新する", class: 'medium-btn' %>
  <input type="button" class="medium-btn" id="user-conf-send-btn" value="更新する">
  </div>
  <% end %>
</div>
