<div class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="/assets/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        モテトーク
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li><%= link_to ' モテトークって？',root_path,class: 'fas fa-home nav-link text-left' %></li>
            <li><%= link_to ' 利用の流れ',homes_about_path,class: 'fas fa-link nav-link text-left' %></li>
            <li><%= link_to ' 講師を探す', new_user_registration_path,class: 'fas fa-user-plus nav-link text-left' %></li>
            <li><%= link_to ' 依頼掲示板', new_user_session_path ,class: 'fas fa-sign-in-alt nav-link text-left'%></li>
            <li><%= link_to ' 講師を探す', new_user_registration_path,class: 'fas fa-user-plus nav-link text-left' %></li>
            <li><%= link_to ' 依頼掲示板', new_user_session_path ,class: 'fas fa-sign-in-alt nav-link text-left'%></li>
          <% else %>
            <li><%= link_to ' モテトークって？',homes_about_path,class: 'fas fa-home nav-link text-left' %></li>
            <li><%= link_to ' 利用の流れ',homes_about_path,class: 'fas fa-link nav-link text-right' %></li>
            <li><%= link_to ' 講師を探す', user_path,class: 'fas fa-user-plus nav-link text-right' %></li>
            <li><%= link_to ' 依頼掲示板', request_boards_path ,class: 'fas fa-sign-in-alt nav-link text-right'%></li>
            <li><%= link_to ' 新規登録', new_user_registration_path,class: 'fas fa-user-plus nav-link text-right' %></li>
            <li><%= link_to ' ログイン', new_user_session_path ,class: 'fas fa-sign-in-alt nav-link text-right'%></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</div>