<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #d468ae;">
  <a class="navbar-brand" href="/"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "モテトークって？", homes_about_path, class: "nav-link fas fa-home" %>
      </li>
      <li class="nav-item active">
        <%= link_to "講師を探す", instructors_path, class: "nav-link fas fa-user-plus" %>
      </li>
      <li class="nav-item active">
        <%= link_to "依頼掲示板", request_boards_path, class: "nav-link fas fa-clipboard-list" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to ' 講師登録はこちら',new_instructor_path,class: 'nav-link fas fa-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to 'マイページ',edit_user_path(current_user.id),class: 'nav-link far fa-user' %>
        </li>
        <li class="nav-item active">
          <%= link_to 'ログアウト',destroy_user_session_path,class: 'nav-link fas fa-sign-out-alt' %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "無料登録", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "ゲストログイン", homes_guest_sign_in_path, method: :post, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
