<!DOCTYPE html>
<html>
  <head>
    <title>Mote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/cb3d68a92d.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <main class="flex-grow-1">
      <%= yield %>
    </main>
    <footer>
      <%= render 'layouts/footer'%>
    </footer>
  </body>
</html>
